<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adventure Time</title>
    <style>
        body{
            background-color: black;
            color: darkgray;
        }
        table{
            width: 600px;
        }
        td{
            text-align: center;
        }
    </style>
</head>
<body>
    <div id="app">
        <h1>It`s adventure time</h1>
        <h3>Characters:</h3>
        <ul v-if="listOfCharacters.length > 0">
            <h3>favoritos: </h3>
            <div v-for="character in listOfCharacters">
                <div v-if="character.favorite">
                    <li>{{ character.name }}</li>
                    <button @click="toggleFavorite(character)"> desfavoritar </button>
                </div>
            </div>
            <h3>n favoritos: </h3>
            <div v-for="character in listOfCharacters">
                <div v-if="!character.favorite">
                    <li>{{ character.name }}</li>
                    <button @click="toggleFavorite(character)"> favoritar </button>
                </div>
            </div>
        </ul>        
        <p v-else>No characters in the list</p>

        <table>
            <thead>
                <tr>
                    <th>raça</th>
                    <th>QTD</th>
                    <th>num de favoritos</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="stat in raceStatisitcs">
                    <td>{{ stat.race }}</td>
                    <td>{{ stat.total }}</td> <!-- quantidade reativa -->
                    <td>{{ stat.numFavorites }}</td> <!-- quantidade reativa -->
                </tr>
            </tbody>
        </table>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        const { createApp } = Vue

        const app = createApp({
            data() {
                return{
                    listOfCharacters: [ 
                        {
                            name: "Fin",
                            favorite: false,
                            race: "Human"
                        },
                        {
                            name: "Jake",
                            favorite: false,
                            race: "dog"
                        },
                        {
                            name: "Jake's Mom",
                            favorite: false,
                            race: "dog"
                        },
                        {
                            name: "PB",
                            favorite: false,
                            race: "Candy person" 
                        },
                        {
                            name: "LR",
                            favorite: false,
                            race: "rainycorn"
                        },
                        {
                            name: "CB",
                            favorite: false,
                            race: "Candy person"
                        },
                        {
                            name: "Crunchy",
                            favorite: false,
                            race: "Candy person"
                        }
                    ],

                    listOfRaces: ["Human",  "dog", "Candy person", "rainycorn"]
                }
            },
            computed: {
                raceStatisitcs() {
                    return this.listOfRaces.map( (race) => {
                        const total = this.listOfCharacters.filter(character => character.race === race).length

                        const numFavorites = this.listOfCharacters.filter(character => character.favorite && character.race === race).length

                        return{
                            race: race,
                            total: total,
                            numFavorites: numFavorites
                        }
                    })
                }
            },
            methods: {
                toggleFavorite(character) {
                    if(character.favorite) {
                        character.favorite = false
                    }
                    else {
                        character.favorite = true
                    }
                }
            }
        })

        app.mount('#app')
    </script>
</body>
</html>